* { font-family: "Source Sans 3", sans-serif !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; outline: none; }
html { scroll-behavior: smooth !important; }
body { transition: background 0.3s; }
canvas { max-height: 320px !important; filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15)); }
#loader {
  position: fixed; inset: 0; background: rgba(255,255,255,0.8);
  display: flex; align-items: center; justify-content: center;
  z-index: 50; transition: opacity .3s;
}
.spinner {
  border: 4px solid #ccc; border-top-color: #2563eb;
  border-radius: 50%; width: 60px; height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin { 100% { transform: rotate(360deg); } }
.card { border-radius: 1rem; }
.badge-primary { background:#f78e23 !important; border-color:#f78e23 !important; }
.btn-success { background: #f78e23 !important; border-color:#f78e23 !important; font-size: 16px !important; }
.btn-success:hover { background: #cc741dff !important; border:1px solid transparent !important; }
.checkbox-primary { border-color:#f78e23 !important; }
.checkbox-primary:checked {
  border-color:#f78e23 !important;
  background-image: linear-gradient(-45deg, transparent 65%, #f78e23 65.99%),
                    linear-gradient(45deg, transparent 75%, #f78e23 75.99%),
                    linear-gradient(-45deg, #f78e23 40%, transparent 40.99%),
                    linear-gradient(45deg, #f78e23 30%, oklch(1 0 0) 30.99%, oklch(1 0 0) 40%, transparent 40.99%),
                    linear-gradient(-45deg, oklch(1 0 0) 50%, #f78e23 50.99%);
}

.radio-primary { border-color:#f78e23 !important; }
.radio-primary:checked {
  background: #f78e23;
  border-color:#f78e23 !important;
}

.logo-head { width: 150px; }
.login { width: 180px; margin: 0 auto; display:block; margin:20px auto; margin-bottom: 40px; }
nav li a { font-size:16px !important; }

.btn-primary { color: #2574a5 !important; }
.btn-primary:hover { background: #1b577b !important; border: 1px solid transparent !important; color: #fff !important; } 

.btn-accent { color: #2ecc71 !important; }
.btn-accent:hover { background: #2ecc71 !important; border: 1px solid transparent !important; color: #fff !important; } 

.btn-error:hover { color: #fff !important;}
footer { background: #fff; left: 0; bottom: 0 !important; }
.no-bg { background: transparent; }